@import "tailwindcss";

@plugin "daisyui" {
  themes: retro --default, forest --prefersdark;
}

* {
  /* border: 1px solid green; */
}

/* body {
  @apply min-h-screen transition-colors antialiased;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
} */
